:root {
  --text-color: #f8f4f4;
  --primary-color: #ED0E29;
  --background-color: #0c0d0f;

}

/* common global style */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

.fs-48{
  font-size: 48px;
}
.fs-28{
  font-size: 28px;
}
.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px;
}
.fs-18{
  font-size: 18px;
}
.fs-20{
  font-size: 20px;
}
.fs-22{
  font-size: 22px;
}
.fs-24{
  font-size: 24px;
}
.fs-26{
  font-size: 26px;
}
.fs-32{
  font-size: 32px;
}
.fs-38{
  font-size: 38px;
}
