:root {
  --text-color: #f8f4f4;
  --primary-color: #ED0E29;
  --background-color: #0e0d0d;

}

/* common global style */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
