.coordinator-card {
  background: #121417;
  background-color: #121417;
  opacity: 0.8;
  /* background-image: linear-gradient(#b31d1d 1px, transparent 1px),
    linear-gradient(to right, #b31d1d 1px, #121417 1px); */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-size: 20px 20px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
}

.profile-img {
  margin: 0 auto;
  max-width: 90%;
  border-radius: 50%;
}

.coordinator-title {
    font-family: "poppins";
    font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0 0.2rem;
  margin: 0;
  text-align: center;
}

.coordinator-card p {
    margin: 0;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}

.btn-wa {
  padding: .5rem 0;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(33, 34, 37, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 1rem;
  cursor: pointer;
}

.btn-wa:hover {
  border: 1px solid rgba(92, 247, 126, 0.733);
  background-color: rgba(92, 247, 126, 0.733);
}

.wa-icon {
  max-width:2rem;
}
