.event-pill {
  font-family: "Poppins";
  font-weight: 400;
  border: 1px solid #ed0e29;
  cursor: pointer;
  border-radius: 5px;
}

.event-pill:hover {
  background-color: #ff001e4d;
}

.active-pill {
  background: #ed0e29;
}

.card {
  background: #121417;

  /* background-color: #121417;
opacity: 0.8;
background-image:  linear-gradient(#b31d1d 1px, transparent 1px), linear-gradient(to right, #b31d1d 1px, #121417 1px);
background-size: 20px 20px; */

background-color: #121417;
opacity: 0.9;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #121417 10px ), repeating-linear-gradient( #ff0a0a55, #ff0a0a );

  /* border-left: .2rem solid #ed0e29; */
  border-left: .2rem solid #d61f1f;
  border-bottom: .2rem solid #d61f1f;
  border-radius: 25px;
  cursor: pointer;
}

.event-thumbnail {
  border-radius: 10px;
}

.event-title {
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 0 0.2rem;
  margin: 0;
}

.department-name {
  font-family: "poppins";
  font-weight: 400;
  font-size: 1em;
  padding: 0.2rem 0;
}
