.form-header{
    left: 153px;
    top: 160px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.border-style{
    box-sizing: border-box;
    width: 30%;
    height: 9px;

    background: linear-gradient(180deg, var(--primary-color) 0%, rgba(21, 21, 21, 0.97) 100%);
    border: 1px solid var(--primary-color);
}

.form-input{
    box-sizing: border-box;
    height: 46px;

    background: rgba(255, 255, 255, 0.05);
    background-blend-mode: difference;
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
}

.bg-black{
    background-color: black;
}

.form-btn{
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(180deg, var(--primary-color) 8.85%, rgba(237, 14, 41, 0.0364583) 99.99%, rgba(237, 14, 41, 0) 100%);
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    color: #FFFFFF;
}