.hero-bg {
  position: relative;
  width: 100%;
}

.hero-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}

.color-accent {
  color: var(--primary-color);
}

.hero-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
}

.hero-img {
  height: 550px;
  width: 600px;
}

.college-text {
  font-family: "Inter";
  font-weight: bolder;
  font-style: normal;
  font-weight: 500;
  line-height: 8px;
}

.btn-custom {
  background-color: var(--primary-color);
  border: 1px solid var(--background-color);
  color: white;
}

.my-n7 {
  margin-top: -7rem;
  margin-bottom: -7rem;
}
