.app-bar{
    background-color: #0e0d0d80;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.link{
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 600;
    color: rgba(255, 255, 255, 0.945);
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:hover{

}
.active-link{
    color: #ED0E29;
    border-bottom: 2px solid #ED0E29;
}