hr{
    border-top: 2px solid var(--primary-color);
}

.w-15{
    width: 15%;
}

.w-25{
    width: 25%;
}

.timeline-item{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--primary-color);
    position: relative;
    font-family: 'Inter';
}

.timeline-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    bottom: 0;
    top: 35%;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}
