hr{
    border-top: 2px solid #ED0E29;
}

.w-15{
    width: 15%;
}

.timeline-item{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #ED0E29;
    position: relative;
    font-family: 'Inter';
}

.timeline-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    bottom: 0;
    background: #ED0E29;
    border: 2px solid #ED0E29;
}
